:root{
    --color-primario:#E50914;
    --color-secundario:#fff;
}

body{padding: 0;margin:0;font-family: 'Arial Narrow', sans-serif;background: #000;color:var(--color-secundario);}
.container{max-width: 1080px;width: 63%;margin: 0 auto;}
header{padding: 20px 0;}
header .container{display:flex;grid-template-columns: 50px 25%;justify-content: space-between;}
header .container .logoContainer{width: 100%;}
header .container .logoContainer img{width: 100%;}
@media (max-width: 600px) {
    header .container{grid-template-columns: 50px calc(100% - 60px);}
}

header form{padding:20px;border-radius: 20px;background-color:rgba(255,255,255,0.9);display: grid;
grid-template-columns: calc(100% - 40px) 30px;}
header form input[type="text"]{background-color: transparent;border:0;outline: 0;}
header form input[type="submit"]{background-color: transparent;border:0;outline: 0;}

main .container{display: grid;grid-template-columns: repeat(5,1fr);grid-gap:15px;}
.peliculaContainer{width:100%;min-height: 125px;    background-size: cover;background-position: 50%;text-align: center;}
.peliculaContainer:hover {background-color:rgba(0,0,0,.5);cursor: pointer;}
.peliculaContainer:hover p{opacity: 1;}
.peliculaContainer p{opacity: .5;transition: opacity 200ms ease-in;color:var(--color-primario);}

@media (max-width: 1150px) {
    main .container{grid-template-columns: repeat(3,1fr);}
}

@media (max-width: 600px) {
    main .container{grid-template-columns: repeat(2,1fr);}
}